<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Scrapper</title>
    <style>
        .box{
            width: 500px;
            height: 500px;
            margin: auto;
            background-color: grey;
        }
    </style>
</head>
<body>
    <div class="box">
        <h1 style="text-align: center;">Search to get images</h1>
        <form action="/images" method="POST">
            <input type="text" name="query" autofocus>
            <input type="submit" value="Search">
        </form>
    </div>
</body>

</html>